.frm,
.in,
.but{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.over{
    width: 100%;
    height: 100vh;
    background-image: url("download.jpg");
    /* background-color: #311bd9; */
    margin-top:-12px;
    margin-left:-12px;
    background-size: cover;
    position:fixed;
}
.htag{
    margin-top: -6px;
    margin-bottom: 35px;
}
.background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
.background .shape{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}
/* .shape:first-child{
    background: linear-gradient(
        #1845ad,
        #23a2f6
    );
    left: -80px;
    top: -90px;
} */
/* .shape:last-child{
    background: linear-gradient(
        to right,
        #ff512f,
        #f09819
    );
    right: -80px;
    bottom: -90px;
} */
.frm{
    height: 520px;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(6px);
    border: 2px solid rgba(255, 255, 255, 0.137);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}
.frm *{
    font-family: 'Quicksand', sans-serif;
    color: #ffffff;
    letter-spacing: 0.6px;
    outline: none;
    border: none;
}
.frm h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}
.radioa{
    height:14px;
    width: 15px;
    margin-left: 8px;
    
}
.radiou{
    height:15px;
    width: 15px;
    margin-left: 10px;
}
.r1{
    display: flex;
    flex-direction: column;
}
.lab{
    display: block;
    margin-top: 23px;
    font-size: 16px;
    font-weight: 500;
}
.in{
    display: block;
    height: 40px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
.in::placeholder{
    color: rgba(177, 175, 175, 0.694)
}
.but{
    margin-top: 35px;
    margin-bottom: 10px;
    width: 33%;
    background-color: #ffffff;
    color: #080710;
    padding: 12px 0;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 17px;
}
.but:hover{
    background-color: #4f4f58;
    /* background-color: ; */
    color:white;
    border-radius: 5px;
}
.reg{
    margin-top:-20px;
    margin-left: 205px;
    color: #03fcfc;
}
.reg:hover{
    color:#d3f709
}
/* .karai{
    background-image: url("download.jpg");
    height: 100%;
    width: 100%;
    background-size: cover  ;
} */