.eb-imgu{
  height: 30px;
  margin-left: 600px;
  margin-top: 1px;
  cursor: pointer;
}
.eb-h1u{
  margin-top: -28px;
  margin-left: 180px;
  color: black;
}
.modal-containeru {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  margin-top: 22px;
  align-items: center;
}  
.modal-contentu {
  /* background-image: url("https://img.freepik.com/free-vector/grunge-watercolor-background-using-pastel-colours_1048-6530.jpg?w=900&t=st=1706432635~exp=1706433235~hmac=e9349cf1f3ce8384182c654256c8eef1913ca4acf8f9219fdb5825d5e10e9536"); */
  width: 47%;
  height: 70%;
  padding: 20px;
  margin-left: 100px;
  background-color: rgba(236, 236, 236, 0.555);
  backdrop-filter: blur(6px);
  border-radius: 5px;
  background-size: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.eb-frm1u{
  margin-top: -490px;
  margin-left: 650px;
  /* display:flex; */
  flex-direction: column;
}
.eb-labelu{
  margin-left: 11px;
  margin-bottom: -17px;
  margin-top: -3px;
  font-weight: 500;
  font-size: 22px;
  color: black;
}
.event-boxu1{
  display: flex;
  flex-direction: row;
  /* gap: 50px; */
  align-items: center;
  padding: 20px 20px;
  
}
.event-detailsu{
  display: inline;
  /* gap: 20px; */
}
.evetu
{
  display:flex;
}
.event-itemsu{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 33px;
  margin-right: 20px;
}
.eb-inputu::placeholder {
color: rgb(0, 0, 0);
font-size: 15px;
opacity: 1; /* Firefox */
}
.eb-inputu{
  width: 250px;
  height: 35px;
  padding: 5px;
  padding-left: 15px;
  border: 2px solid black;
  margin-left: 10px;
  color: black;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.493);
  font-size: 18px;
  font-family:'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
  outline: none;
}
.eb-box1u{
  margin-top:33px;
  /* margin-bottom: -15px; */
  margin-left: 180px;
  display: flex;
  font-size:large;
  color: rgb(0, 0, 0);
}
.eb-box2u{
  height: 17px;
  width: 17px;
}
.eb-box3u{
  margin-top: -3px;
  margin-left: 3px;
  font-size: 16px;
}

.wrapperu {
  position:relative;
  width: 100%;
  height: 100%;
  margin-bottom: -10px;
}

.custom-buttonu {
  font-family: 'Ubuntu', sans-serif;
  position: absolute;
  /* top: 50%; */
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 55px;
  line-height: 1;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.5px;
  border: 3px solid #000000;
  background: #fff;
  color: #000000;
  border-radius: 20px;
  cursor: pointer;
  overflow: hidden;
  transition: all .35s;
  margin-top: 70px;
}

.custom-buttonu:hover {
  background: #000000;
  color: #fff;
}

.custom-buttonu span {
  opacity: 1;
  visibility: visible;
  /* transition: all .35s; */
}

.success {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 50%;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: all .35s;
}

.success svg {
  width: 25px;
  height: 25px;
  fill: yellowgreen;
  transform-origin: 50% 50%;
  transform: translateY(-50%) rotate(0deg) scale(0);
  transition: all .35s;
  }

.custom-buttonu.is_active {
  width: 40px;
  height: 40px;
}

.custom-buttonu.is_active .success {
  opacity: 1;
  visibility: visible;
}

.custom-buttonu.is_active .success svg {
  margin-top: 50%;
  transform: translateY(-50%) rotate(720deg) scale(1);
}

.custom-buttonu.is_active span {
  opacity: 0;
  visibility: hidden;
}