/* BoxComponent.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
.a{
  display: flex;
  padding:top;

  
}
.ak{
  color: skyblue;
}
.box {
  transition: box-shadow .3s;
  width: 900px;
  height: 200px;
  /* border: 2px solid #333; */
  padding: 20px;
  margin: 20px;
  background-color: #f9f6f6f8;
  text-align: center;
  box-shadow: 0 0 10px rgba(99, 96, 96, 0.1);
  transition: background-color 0.3s ease; 
  
}
/* .box {
  
  transition: box-shadow .3s;
  width: 300px;
  height: 500px;
  margin: 50px;
  border-radius:10px;
  border: 1px solid #ccc;
  background: #fff;
  float: left;
  
} */
.box:hover {
  box-shadow: 0 0 100px rgba(33,33,33,.2); 
}

/* Hover effect */
/* .box:hover {
  background-color: #102e01;
} */

/* Optional: Add styles for the heading and paragraph inside the box */
.box h2 {
  color: #050000;
  padding-top: 0%;
}

.box p{
  color: #666;
}

.jaggu{
  margin-top:50px;
}
