.ad-search-form1{
    display: flex;
    margin-top: -35px;
    padding-left: 568px;
}
.ad-add1{
    margin-top: -43px;
    padding-left: 1200px;
    display: flex;
    flex-direction: row;
    color: rgb(1, 122, 17);

}
.ad-add1:hover{
    color: rgb(1, 70, 10);
}
.ad-poih1{
    padding-left: 40px;
    margin-top: -41px;
}
.ad-pointer1{
    cursor: pointer;
}
.ad-h1{
    padding-top: 120px;
    padding-left: 70px;
}

.gallery-wrapper2{
    width: 22vw;
    height: 50vh;
  }

  .be-grid2{
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto;
    gap: 100px;

}

.pb-52{
    text-decoration: none;
    margin-bottom: 45px;
  }
  .grid-item1 {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    height: 500px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    background-color: #fff;
  }
  
  /* Hover effect for the grid items */
  .grid-item1:hover {
    transform: scale(1.05);
  }
  
  /* Style for the image inside each grid item */
  .grid-item1 img {
    width: 100%;
    height: 52%;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
  }
  

  /* Style for the text content inside each grid item */
  .grid-item1 .h4 {
    margin-left: 10px;
    font-size: 1.5rem;
    color: #333;
    text-align: center;
    margin-bottom: 5px;
  }
  
  /* Style for the description inside each grid item */
  .grid-item1 .font-italic {
    color: #666;
    display: flex;
    /* font-style: italic; */
    margin-left: 10px;
    /* font-weight: 500; */
    padding: 1px;
  }
  
  
  /* Style for the button inside each grid item */
  .grid-item1 .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  /* Hover effect for the button */
  .grid-item1 .btn:hover {
    background-color: #0056b3;
  }
  
  .ab-up1{
    background-color: rgb(255, 255, 255);
    color: black;
  height: 40px;
    width: 100px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 8px;
    margin-left: 45px;
    cursor: pointer;
  }
  .ab-del1{
    background-color: rgba(0, 0, 0, 0.776);
    color: white;
    height: 40px;
    width: 100px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    margin-left: 35px;
    cursor: pointer;

  }


  .searc-input1 {
    padding: 10px 15px;
    margin-right: 8px;
    text-align:start;
    border: 2px solid #000000;
    border-radius: 5px;
    font-size: 18px;
    width: 350px;
    outline: none;
  }
  .searc-input1::placeholder{
    font-family:cursive;
  }
  
  .searc-button1 {
    padding: 12px 50px;
    margin-left: 50px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    width: 250px;
    transition: background-color 0.3s ease;
  }
  
  .searc-button1:hover {
    background-color: #0056b3;
  }
  .ad-add1 a{
    color: green;
    text-decoration: none;
  }