/* AdminviewEvents.css */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

.container00 {
    width: 100%;
    /* padding: 100px; */
    padding-left: 40px;
}

.section0{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: white;  */
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); Box shadow */
    margin-bottom: 20px; 
    border-radius: 25px;
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out; /* Smooth transition for hover effect */
    height: 300px; /* Fixed height for square shape */
    cursor: pointer;
}
.l1{
    display: flex;
    height:400px;
}
.l2{
    width:50%;
    background-image: url('https://coaching.starchess.in/48a375934f65418fd03d776e4a71baf7.svg');
    background-repeat: no-repeat;
}
.l3{
    width:50%;
    margin-left: 300px;
}

.l4 input{
    cursor: pointer;
    height: 40px;
    width: 50%;
}
.l5{
    background-color: #f3954e;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.section0.reverse {
    flex-direction: row-reverse;
}


/* .section:hover {
    transform: scale(1.10); 
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3); 
} */

.image, .content {
    width: 50%; /* Each takes up half the width */
    height: 100%; /* Full height of the section */
    display: flex;
    align-items: center;
    justify-content: center;
}
.content1 p{
    font-size: 20px;
}
.content1-reverse
{
    width: 50%; /* Each takes up half the width */
    height: 100%; /* Full height of the section */
    display: flex;
    align-items: center;
    justify-content: center;
}
.content1-reverse p{
    font-size: 20px;
}
.content1-reverse{
    padding-left: 10px;
    display: flex;
    flex-direction: column;
}
.image1 img {
    max-width: 80%;
    max-height: 80%;
    border-radius: 10px; /* Rounded corners for the image */
}

.ViewEventTitle1 {
    font-weight: bolder;
    font-size: 30px;
    word-spacing: 0.1px;
    padding: 20px; /* Padding for the title */
    font-size:large;
}
.content1{
    display: flex;
    flex-direction: column;
}


/* Adjustments for reverse section */
.section.reverse .image img {
    border-radius: 10px;
}

.section.reverse .content {
    border-radius: 10px 0 0 10px;
}


.EventViewbutton {
    position: relative;
    
}
/* .ViewDeleteButton
{
    display: flex;
    gap: 10px;
}
.View{
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}
.View:hover {
    transform: scale(1.5); 
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3); 
} */
/* .Delete{
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}
.Delete:hover {
    transform: scale(1.5); 
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3); 
} */